body#bg{
  background-color: #504356;
}

p{
  color: #f3f3f3;
  font-family: 'Monaco';
  font-size: 32px;
  background-color: #8b6d8d;
}

#header{
  font-family: 'Source Code Pro';
  font-size: 42px;
}

.link{
  margin-top:30px;
  margin-left: 200px;
  width:100px;
  height:100px;
  text-align:center;
  vertical-align: middle;
}

.header{
  margin-top:30px;
  margin-left: 200px;
  width:200px;
  height:300px;
  text-align:center;
  vertical-align: middle;
}

.image{
  margin-left: 1000px;
}

img{
  position: fixed;
  width: 22%;
  height: auto;
  border: 2px solid pink;
}

a{
  color: #cf7275;
  text-decoration: none;
}
